<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div style="text-align: center">
    <h3>Register New User</h3><br/>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6" class="submit-form">
            <form #form ngNativeValidate style="align-content: center">
                <fieldset>
                    <div class="form-group">
                        <label for="fName"><span class="req">* </span> First Name: </label>
                        <input required type="text" [(ngModel)]="fName" name="fName" id="fName"
                            class="form-control phone" maxlength="20" placeholder="Enter your First Name..." />
                    </div>

                    <div class="form-group">
                        <label for="lName"> last Name: </label>
                        <input type="text" [(ngModel)]="lName" name="lName" id="lName"
                            class="form-control phone" maxlength="20" placeholder="Enter your Last Name..." />
                    </div>

                    <div class="form-group">
                        <label for="address"><span class="req">* </span> Address: </label>
                        <input class="form-control" type="text" [(ngModel)]="address" name="address" id="address" required
                            placeholder="Enter your address" />
                        <div id="errFirst"></div>
                    </div>

                    <div class="form-group">
                        <label for="district"><span class="req">* </span> District : </label>
                        <input class="form-control" type="text" [(ngModel)]="district" name="district" id="district"
                            placeholder="Enter your district" required />
                        <div id="errLast"></div>
                    </div>

                    <div class="form-group">
                        <label for="mobile"><span class="req">* </span> Contact Number: </label>
                        <input class="form-control" required type="text" [(ngModel)]="mobile" name="mobile"
                            id="mobile" placeholder="Enter your contact number" />
                    </div>
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" value="Register" (click)="form.checkValidity() ? submit() : null">
                        <input class="btn btn" type="reset" value="Cancel" (click)="cancel()">
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</div>

<div *ngIf="submitted">
    <h3>You have successfully created</h3>
  </div>
